<html>
<head>
<% meta_get(); %>
<meta HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT"> 

<title>Port Triggering</title> 
<link rel="stylesheet" href="form.css">
<% script_get(); %>
<script language="javascript" type="text/javascript">
<!--
function chgSel_df(index)
{
	var cf = document.forms[0];
	cf.df_sel.value = index;
	cf.custom_sel.value = -1;
}
function chgSel(index)
{
	var cf = document.forms[0];
	cf.custom_sel.value = index;
	cf.df_sel.value = -1;
}

function checkData()
{
	var cf = document.forms[0];
	var timeout = parseInt(cf.fwpt_timeout.value);
	if (cf.fwpt_timeout.value.length == 0 || isNaN(timeout) || timeout <= 0)
	{
		alert("Timeout must be a integer greater than 0");
		return false;
	}
	return true;
}
function doTypeChange(newIndex)
{
	var cf = document.forms[0];
	if (newIndex == 0)
		location.href = "FW_forward.htm";
	else if (newIndex == 1)
		location.href = "FW_pt.htm";
}
//-->
</script>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="loadhelp('FW_pt');">
<form name="formname" method="POST" action="fwpt.cgi">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2" align='left'><h1>Port Forwarding / Port Triggering</h1></td>
</tr>

<tr><!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2">
<p><tabindex="-1"><b>Please select the service type</b></a></p></td>
</tr>
<tr>
<td colspan="2"><input type="radio" name="serv_type" value="pf" onClick="doTypeChange(0)">Port Forwarding</td>
</tr>
<tr>
<td colspan="2"><input type="radio" checked name="serv_type" value="pt" onClick="doTypeChange(1)">Port Triggering</td>
</tr>

<tr><!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr><td nowrap width="46%"><input type="checkbox" name="fwpt_enable" value="1" <% nvram_match("fwpt_enable","0","checked"); %>><B><tabindex=-1>Disable Port Triggering</a></B></td>
<td nowrap width="54%"></td></tr>
<tr></tr>
<tr>
<td nowrap width="46%"><B><a href="javascript:loadhelp('FW_pt','pt_timeout')" tabindex=-1>Port Triggering Timeout</a></B> (in minutes)</td>
<td nowrap width="54%" align="right"><input type="text" class="num" name="fwpt_timeout" size="5" maxlength="4" value="<% fw_cgi_pt_get_policy_param("fwpt_timeout"); %>" onFocus="this.select();" ></td>
</tr>

<tr><!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
 <td colspan="2"><b><tabindex=-1>Port Triggering Portmap Table</a></b></td>
</tr>

<tr>
<td colspan="2">
<table border ="1" cellpadding ="0" cellspacing ="0" width="100%">
<TR>
	<td nowrap width="3%" align="center"><span class="thead">&nbsp;</span></td>
	<td nowrap width="3%" align="center"><span class="thead">#</span></td>
	<td nowrap align="center"><span class="thead">Enable</span></td>
	<td nowrap align="center"><span class="thead">Service Name</span></td>
	<td nowrap align="center"><span class="thead">Service Type</span></td>
	<td nowrap align="center"><span class="thead">Inbound Connection</span></td>
	<td nowrap align="center"><span class="thead">Service User</span></td></tr>
</TR> 
	<% fw_cgi_pt_get_policy_table(); %>
</table>
</td>
</tr>

<tr><td colspan="2" align="center" height="35" valign="bottom">
<input type="Submit" name="Add" value="Add Service">
<input type="Submit" name="Edit" value=" Edit Service ">
<input type="Submit" name="Delete" value="Delete Service">
</td></tr>

<tr><!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
<td colspan="2" align="center">
<input type="submit" name="Apply" value=" Apply " onClick="if(!checkData())return false;">
<input type="reset" name="cancel" value="Cancel">
</td>
</tr>
</TABLE> 
<input type="hidden" name="df_sel" value="-1">
<input type="hidden" name="custom_sel" value="-1">
</form>
</body>
</html>


