<HTML><HEAD><TITLE>NETGEAR</TITLE>
<% meta_get(); %>
<STYLE type=text/css>BODY {
	MARGIN: 6px
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: 262729; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: 262729; MARGIN: 0pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
BIG {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: 262729; MARGIN: 0pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: 262729; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: 262729; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: 262729; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
</STYLE>

<SCRIPT language=javascript type=text/javascript>
<!-- hide script from old browsers
//-->
</SCRIPT>

<BODY bgColor=ffffff leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<TABLE cellSpacing=2 cellPadding=1 border=0>
  <TBODY>
  <TR>
    <TD colSpan=2><BIG>Setup</BIG></TD></TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="start_multiwan.htm" target=formframe>Basic Settings</A></TD></TR>
   <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="WLG_wireless.htm" target=formframe>Wireless Settings </A></TD></TR>

  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>

  <TR>
    <TD colSpan=2><BIG>USB Storage</BIG></TD></TR>
    <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="USB_basic_main.htm" target=formframe>Basic Settings</A></TD></TR>
    <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="USB_adv_main.htm" target=formframe>Advanced Settings</A></TD></TR>
    
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
<% mnu_voip_status("0"); %>
  <TR>
    <TD colSpan=2><BIG>Telephony Setting</BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="VOIP_voip.htm" target=formframe>VoIP Settings</A></TD></TR>
   <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="CALL_feature.htm" target=formframe>Call Feature Settings </A></TD></TR>
   <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="VOIP_status.htm" target=formframe>VoIP Status </A></TD></TR>
   <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="CALL_log.htm" target=formframe>Call Log </A></TD></TR>
<% mnu_voip_status("1"); %>

  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>

  <TR>
    <TD colSpan=2><BIG>Security</BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
	<TD><A href="FW_log.htm" target=formframe>Logs</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
	<TD><font color=gray><b>Logs</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="BKS_keyword.htm" target=formframe>Block Sites</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
	<TD><font color=gray><b>Block Sites</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="FW_filter.htm" target=formframe>Firewall Rules </A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>Firewall Rules </b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="BKS_service.htm" target=formframe>Services</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>Services</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="FW_schedule.htm" target=formframe>Schedule</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>Schedule</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="FW_email.htm" target=formframe>E-mail</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>E-mail</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>

  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>

  <TR>
    <TD colSpan=2><BIG>Maintenance</BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="RST_status_user.htm" target=formframe>Router Status</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="DEV_device.htm" target=formframe>Attached Devices</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="BAK_backup.htm" target=formframe>Backup Settings</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="PWD_password.htm" target=formframe>Set Password</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="DIAG_diag.htm" target=formframe>Diagnostics </A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="UPG_upgrade.htm" target=formframe>Router Upgrade</A></TD></TR>

  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>

    <TD colSpan=2><BIG>Advanced</BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="QOS_main.htm" target=formframe>QoS Setup</A></TD></TR>    
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="WAN_wan.htm" target=formframe>WAN Setup</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>WAN Setup</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="DNS_ddns.htm" target=formframe>Dynamic DNS</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>Dynamic DNS</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="LAN_lan_user.htm" target=formframe>LAN IP Setup</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="WLG_mswireless.htm" target=formframe>Wireless Setings</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="WLG_wds.htm" target=formframe>Wireless Repeating Function</A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="STR_routes.htm" target=formframe>Static Routes</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>Static Routes</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<% nvram_match("wla_repeater","1","<!--"); %>
    <TD><A href="UPNP_upnp.htm" target=formframe>UPnP</A></TD>
<% nvram_match("wla_repeater","1","-->"); %>
<% nvram_match("wla_repeater","0","<!--"); %>
    <TD><font color=gray><b>UPnP</b></TD>
<% nvram_match("wla_repeater","0","-->"); %>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="USB_settings.htm" target=formframe>USB Settings</A></TD></TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="TR069_tr069.htm" target=formframe>TR069</A></TD></TR>

  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
    
  <TR>
    <TD align=middle colSpan=2><A class=bigfont href="LGO_logout.htm" target=_top><FONT
      size=3>Logout</FONT></A></TD></TR></TBODY></TABLE></BODY></HTML>
