<html>
<head>
<% meta_get(); %>
<title>QoS Setup</title> 
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
classes.num.all.fontFamily = "Courier";
classes.num.all.fontSize = "10pt" ;
</style>
<% script_get(); %>
<script language="javascript" type="text/javascript">
<!--
function chgSel(index)
{
	document.forms[0].select.value = index;
	return true;
}
function chg_priority(index)
{
	document.forms[0].priority_sel.value = index;
	return true;
}

//-->
</script> 
</head>
<body bgcolor="#ffffff" onload="loadhelp('QOS_main');">
<form name="frmRules" method="POST" action="qos_rule_tab.cgi">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2"><h1>QoS Priority Rule List</h1></td>
</tr>

<tr> <!-- RULE -->
<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2">
<table border="1" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap align="center" width="6%">&nbsp; </td>
<td nowrap align="center" width="6%"><span class="thead"># </span></td>
<td nowrap align="center"><span class="thead">QoS Policy</span></td>
<td nowrap align="center"><span class="thead">Priority </span></td>
<td nowrap align="center"><span class="thead">Description</span></td>
</tr>
<% qos_cgi_get_qos_table(); %>
</table>
</td>

</tr>
<tr> <!-- RULE -->
<td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>
<tr>
<td colspan="2" align="center">
<input type="submit" name="edit_qos" value="  Edit  ">
<input type="submit" name="delete_qos" value="Delete">
<input type="submit" name="delete_all_qos" value="Delete All">
<BR><BR>
<input type="submit" name="add_qos" value="Add Priority Rule"></td>
</tr>

<tr> <!-- RULE -->
<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2" align="center">
<input type="submit" name="apply" value="Apply">
<input type="button" name="cancel" value="Cancel"></td>
</tr>
<tr>
<input type="hidden" name="select" value="-1">
<input type="hidden" name="priority_sel" value="-1">
</tr>
</table>

</form>
</body>
</html>


