<html>
<head>
<% meta_get(); %>
<link rel="stylesheet" href="form.css">
<title>WPS Success Message</title>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="top.contents.location.href='MNU_menu.htm'">
<form name="msg" action="message.cgi" method="post" onSubmit="return false">

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<tr><td align="left"><h1>Success</h1></td></tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr>
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
	
<tr><td align=center><b>The wireless client <% wps_cgi_get_param("wps_status_msg"); %> has been added to the network successfully.
</b></TD>
</TR>
<tr><td align=center><b><font color=#ff0000>Note: The wireless settings have been changed. </font></b></TD></TR>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr><td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td></tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">

<TR><td align=center>Click OK to check the new wireless settings...</TD></TR>
<TR><TD align=center>
<INPUT TYPE="BUTTON" NAME="OK" VALUE="OK" onclick="location.href='WLG_wireless.htm'">
</TD></TR>	
</TABLE>
</form>
</BODY>
</HTML>

